.additional-info {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.info-img {
  width: 80%;
  max-width: 600px;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .info-img {
  width: 560px;
  }
}